.breadcrumb {
  font: .75em sans-serif;
  list-style: none;
}

.breadcrumb.bc2x {
  font-size: 1em;
}

.breadcrumb.bc3x {
  font-size: 1.25em;
}

.breadcrumb p {
  margin: 0;
}

.breadcrumb li {
  display: inline-block;
  margin-bottom: .2em;
}

.breadcrumb li a {
  background-color: #006a97;
  box-sizing: border-box;
  color: #fff;
  display: block;
  max-height: 2em;
  padding: .5em 1em .5em 1.5em;
  position: relative;
  text-decoration: none;
  transition: .25s;
}

.breadcrumb li a:before {
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  border-left: 1em solid #fff;
  content: "";
  position: absolute;
  top: 0;
  right: -1.25em;
  z-index: 1;
}

.breadcrumb li a:after {
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  border-left: 1em solid #006a97;
  content: "";
  position: absolute;
  top: 0;
  right: -1em;
  transition: .25s;
  z-index: 1;
}

.breadcrumb li a:hover {
  background-color: #0098d9;
}

.breadcrumb li a:hover:after {
  border-left-color: #0098d9;
}

.breadcrumb li:last-child a {
  background-color: #0098d9;
  pointer-events: none;
}

.breadcrumb li:last-child a:after {
  border-left-color: #0098d9;
}